{% extends 'core/index.html' %}

{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>The Easiest Way to Add Input Masks to Your Forms</title>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>

    <body>,
    {% block content %}

        <div class="site-blocks-cover" data-aos="fade">
          <div class="container">

            <div class="row align-items-center">
              <div class="col-lg-5 text-center">
                <div class="featured-hero-product w-100">
                  <h1 class="mb-2">About us</h1>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra ultrices tortor ut elementum. Proin bibendum mi orci, eget fringilla diam pretium id. Nam porttitor vehicula turpis dignissim vestibulum.</p>
                </div>
              </div>
              <div class="col-lg-7 align-self-end text-center text-lg-right">
                <img src="{% static 'img/img05.jpg'%}" alt="Image" class="img-fluid img-1">
                <span class="image-photo-credit">Google Images</span><span class="image-copyright"></span></div>
              </div>

            </div>
          </div>

        </div>
        <hr>

        <!-- Photo gallery -->
        <div class="photo-gallery">
            <div class="container">
                <div class="row photos">
                    <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="{% static 'img/img04.jpg'%}" data-lightbox="photos"><img class="img-fluid" src="{% static 'img/img04.jpg'%}"></a></div>
                    <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="{% static 'img/img05.jpg'%}" data-lightbox="photos"><img class="img-fluid" src="{% static 'img/img05.jpg'%}"></a></div>
                    <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="{% static 'img/img06.jpg'%}" data-lightbox="photos"><img class="img-fluid" src="{% static 'img/img06.jpg'%}"></a></div>
                    <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="{% static 'img/img07.jpg'%}" data-lightbox="photos"><img class="img-fluid" src="{% static 'img/img07.jpg'%}"></a></div>
                    <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="{% static 'img/img08.jpg'%}" data-lightbox="photos"><img class="img-fluid" src="{% static 'img/img08.jpg'%}"></a></div>
                    <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="{% static 'img/img09.jpg'%}" data-lightbox="photos"><img class="img-fluid" src="{% static 'img/img09.jpg'%}"></a></div>
                </div>
            </div>
        </div>

        <!-- Script from photo gaLlery -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/js/lightbox.min.js"></script>

        </header>
        <!--Main Navigation-->

        <!--Main Layout-->
        <main class="text-center py-5 mt-3">

          <div class="container">
            <div class="row">
              <div class="col-md-12">

                <p align="justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                  incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                  ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                  voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                  proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

              </div>
            </div>
          </div>

        </main>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>

      <!-- Bootstrap core JavaScript -->
      <script src="{% static 'js/jquery.min.js'%}/"></script>
      <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

    </body>

</html>
{% endblock content %}
